group {
    font-size: 16pt;
}

.post {
    border: 1px solid black;
    background-color: lightgray;
    padding: 0px 10px;
    margin: 0px 10px;
}

.like-span {
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
}

.inner-post-button {
    margin: 10px 3px !important;
}

.post-text {
    margin: 5px 0px;
}

.post-title {
    font-size: 18pt;
}